.ofbody{
    background-color: rgb(46, 44, 44);
}

.topnav {
    background-color: rgb(139, 126, 126);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #fffdfd;
    text-align: center;
    padding: 14px 16px;
    text-decoration:chartreuse;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(45, 82, 185);
    color: black;
  }

  .navbar-fixed-top {
    position: fixed;
    top: 0;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.cover_image{
    border-radius: 5cm;
    height: 8.5cm;
    width: 8.5cm;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.initials{
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    font-size:1cm;
}
.homepage{
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    font-size:.75cm;
}

.quote{
    text-align:end;
    margin-right: 5cm;
    color: white;
    font-weight: 100;

}
.image{
    height: 5.5cm;
    width: 5.5cm;
    max-width: 100%;
    display: block;
}

.about{
    font-size: large;
    color: white;
    font-size:.75cm;
    font-weight: 100;
    margin-left: 5.5cm;
    margin-right: 5.5cm;
}

.column {
    float: left;
    width: 20.33%;
    padding: 75px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #sk{
      color: rgb(226, 230, 40);
      text-align: left;
      margin-left: 5cm;
  }