.ofbody{
  background-color: rgb(46, 44, 44);
}

.cover_image{
  border-radius: 5cm;
  height: 8.5cm;
  width: 8.5cm;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.initials{
  text-align: center;
  color: #ffffff;
  font-weight: 200;
  font-size:1cm;
}
.homepage{
  text-align: center;
  color: #ffffff;
  font-weight: 200;
  font-size:.75cm;
  margin-left: auto;
  margin-right: auto;
}

.quote{
  text-align:end;
  margin-right: 5%;
  color: white;
  font-weight: 100;
}

.navbar {
  overflow: hidden;
  background-color: rgb(92, 81, 81);
  position: fixed;
  top: 0; 
  width: 100%; 
  height: auto;
}
  
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}
  
.navbar a:hover {
  background: #ddd;
  color: black;
}
  
.main {
  margin-top: 30px; 
} 

.about{
  font-size: large;
  color: white;
  font-size:.75cm;
  font-weight: 100;
}

table, th, td {
  border: 4px solid rgb(214, 84, 106);
  border-collapse: collapse;
  
}
.shift{
  margin-left: 2%;
}

#sk{
    color: rgb(226, 230, 40);
    text-align: left;
    margin-left: 2%;
}

.cover_image1{
  border-radius: 5cm;
  height: 8.5cm;
  width: 8.5cm;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.location{
  height: 6.5cm;
  width: 12.5cm;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links{
  color: rgb(153, 187, 238);
}

.date{
  color:rgb(132, 218, 165);
  text-align: right;
  margin-right: 2%;
}
